/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
}

/*---------------------------------------------------------------------------------*/

.navigare .wrap{
  opacity: 0.7;
  width: auto;
  height: 55px;
  text-decoration: none;
  width: 100vw;
  background-color: black;
  opacity: 0.5;
  padding: 0px 10rem;
}

.menu {
  display: inline-block;
  width: 25%;
  font-size: 22px;
  padding:15px 15px;
  text-decoration: none;
  color: white;
  font-family: 'Gugi', cursive;
  border-bottom: 1px solid black;
}

.navigare a:hover{
  text-decoration: none;
  border-bottom: 3px solid green;
  transition-duration: 0.4s;
  background-color: #F7F0D4;
  color: #2B3409;
  border-radius: 2px;
}

/*------------------------------------    Content    ----------------------------*/

.bg {
  width: 100vw;
  background: linear-gradient(to top, #f7f0d4 0%, #ffcd1a 100%);
}

.bg .row{
  padding: 1rem;
}

#titlu{
  padding: 30px;
  font-family: 'Gugi', cursive; 
  color: #FEFE33;
  background-color: #2B3409;
  padding: 10px;
  border-top: 1px solid;
  border-top-color: #2B3409;
  border-right: 1px solid;
  border-right-color: #2B3409;
}

.bg .btn{
  margin-bottom: 10px;
  font-size: 20px;
}

.citat{
  padding: 10px;
  background-color: #FFF5CC;
  border-bottom: 1px solid;
  border-bottom-color: #2B3409;
  border-left: 1px solid;
  border-left-color: #2B3409;
}

.video{
  background-color: #F7F0D4;
  border-bottom: 1px solid black;
  padding: 30px;
  border-radius: 7px;
}

.video h2{
  padding-bottom: 20px;
  font-size: 25px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}


/*-----------------------------   Vorbitori    ------------------------------------*/
.panel{
  font-size: 25px;
  text-decoration: none;
  border-bottom: 1px dashed black;
}

.map .panel{
  font-family: 'Gugi', cursive;
  text-align: center;
}
.bord{
  border-bottom: 1px dashed black;
}
.bord a{
  text-decoration: none;
}

.bord:hover{
  background-color: #B3D733;
  transition-duration: 0.4s;
}
.bord a:hover{
  color: white;
  transition-duration: 0.4s;
}